.card {
  width: 80%;
  height: 110px;
  border: solid black 2px;
  border-radius: 9px;
  background: rgba(252, 219, 3);
  text-align: center;
  margin: 10px;
  cursor: pointer;
  /* opacity: 65%; */
  transition: all 0.2s ease-in-out;
}

.card-name {
  font-weight: bolder;
  font-size: 22px;
  margin: 0;
}

.card-sprite {
  width: 80px;
  height: 80px;
  float: left;
}

.card-weight {
  font-size: 12px;
}

.card-height {
  margin-top: 10px;
  font-size: 12px;
}
.card:hover {
  transform: scale(1.1);
}
